* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    white-space: nowrap;
    overflow: visible;
    margin-right: 0;
    position: relative;
}

p {
    font-size: 9pt;
    margin-block-start: 4px;
}

html,body {
    height: 100%;
    width: 100%;
    min-width: 900px;
    background-color: cornsilk;
    margin: 0px;
}

.body {
    /* overflow-x: hidden; */
}

@media only screen and (max-width: 600px) {
    * {
        overflow-x: hidden;
    }
    html, body {
        min-width: 0;
    }
    .input-area, .submit, .results-area {
        width: 100vw;
    }
    .input-area h3 {
        font-size: 16px;
        letter-spacing: -0.75px;
    }

}

div {
    min-height: 10px;
}

h3 {
    margin-bottom: 10px;
}

h5 {
    font-size: 9.5pt;
}

input[type="number"], input[type="text"] {
    height: 15px;
}

.content {
    display: grid;
    grid-template-columns: 960px 600px;
}

@media only screen and (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }    
}

.input-area {
    background-color: rgb(218, 252, 226);
}

.pattern-properties {
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    gap: 0px 10px;
    padding-bottom: 20px;
}

.input-area h3 {
    margin-left: 27px;
}

.pattern-properties label {
    font-size: 9.5pt;
    height: 10px;
}

.swatch-stitches-container {
    grid-column: 2 / span 7;
}

.swatch-stitches-container input {
    width: 168px;
}

.swatch-rows-container, .yarn-container {
    grid-column: 9 / span 6;
}

.swatch-rows-container input, .yarn-container input {
    width: 140px
}

.name-container {
    grid-column: 15 / span 7;
}

.notes-container input {
    width: 110px;
}

.notes-container {
    grid-column: 22 / span 5;
}

.file-picker-container {
    grid-column: 27 / span 5;
    overflow: hidden;
}

.save-file-button-container {
    grid-column: 32 / span 5;
    margin-left: -7px;
}

#file-picker {
    visibility: hidden;
}

#file-picker-label, button {
    /* align-items: flex-start; */
    /* appearance: auto; */
    background-color: rgb(239, 239, 239);
    border: 1.2px solid rgb(118,118,118);
    border-radius: 2px;
    /* border-bottom-color: rgb(118, 118, 118);
    border-bottom-width: 2px;
    border-image-outset: 0;
    border-left-color: rgb(118, 118, 118);
    /* border-left-style: outset; */
    /* border-left-width: 2px; */
    /* border-right-color: rgb(118, 118, 118); */
    /* border-right-style: outset; */
    /* border-right-width: 2px; */
    /* border-top-color: rgb(118, 118, 118);
    border-top-style: outset;
    border-top-width: 2px; */
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: default;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 13.3333px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    height: 21px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    /* overflow-x: scroll;
    overflow-y: scroll; */
    overflow: hidden;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    white-space: nowrap;
    /* width: 111.992px; */
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-border-image: none;
}

#file-picker-label:hover, button:hover {
    background-color: rgb(229, 229, 229);
}

#file-picker-label:active, button:active {
    background-color: rgb(245, 245, 245);
}

.cast-on-container {
    grid-column: 2 / span 6;
}

#cast-on {
    width: 140px;
}

.times-2-container {
    grid-column: 8 / span 1;
}

#times-2 {
    margin-left: 1.5px;
}

#yarn-label, #yarn-box {
    grid-column: 9 / span 6;
}

#yarn-box input{
    width: 140px;
}

.tension-container {
    grid-column: 15 / span 4;
}

.ends-container {
    grid-column: 19 / span 4;
}

.rib-container {
    grid-column: 23 / span 4;
}

#tension, #ends, #rib {
    width: 83px;
}

@media only screen and (max-width: 600px) {
    .pattern-properties {
        /* background-color: red; */
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: repeat(5,50px);
    }
    .pattern-properties div {
        /* border: 1px solid black; */
    }
    .input-area h3 {
        height: 20px;
        padding-bottom: 10px;
    }
    .input-area h3, .swatch-stitches-container, .name-container,
    .file-picker-container, .cast-on-container, .yarn-container,
    .ends-container, .file-picker-container {
        grid-column: 1;
        margin-left: 30px;
    }
    .swatch-rows-container, .notes-container, .save-file-button-container,
    .times-2-container, .tension-container, .rib-container,
    .save-file-button-container {
        grid-column: 2;
        margin-left: 0px;
    }
    .file-picker-container, .save-file-button-container {
        grid-row: 6;
        margin-top: -10px;
    }
    .pattern-properties input[type="number"], .pattern-properties input[type="text"], #cast-on, #yarn, #tension, #ends, #rib {
        width: 40vw;
    }
}

.changes-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media only screen and (max-width: 600px) {
    .changes-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,auto);
    }
}

.changes {
    display: grid;
    grid-template-columns: repeat(21,1fr);
    align-items: center;
    grid-template-rows: 55px 10px 40px;
    grid-auto-rows: 40px;
    overflow: hidden;
    height: fit-content;
    padding-bottom: 10px;
}

.changes div {
    /* border: 1px solid black; */
}

.mobile-view-heading {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobile-view-heading {
        display: block;
    }
    .desktop-view-heading {
        display: none;
    }
    .changes {
        grid-template-columns: repeat(18,1fr);
    }
    .changes div {
        /* border: 1px solid black; */
    }
}

#l-changes {
    background-color: rgb(221, 200, 255);
}

#r-changes {
    background-color: rgb(255, 200, 200)
}

.changes-title, .detail-title {
    grid-column: 3 / span 3;
    margin-left: -4px;
}

.add-section-button {
    grid-column: 9 / span 6;
    z-index: 1;
}

.remove-section-button {
    grid-column: 15 / span 7;
    z-index: 1;
}

.col-1 {
    grid-column: 1 / span 2;
    justify-self: end;
    margin-right: 5px;
}

.col-2 {
    grid-column: 3 / span 8;
}

.col-3 {
    grid-column: 11 / span 8;
}

.col-4 {
    grid-column: 19;
}

.col-5 {
    grid-column: 20;
}

.col-4, .col-5 {
    text-align: center;
}

.col-2 h5, .col-3 h5, .col-4 h5, .col-5 h5 {
    margin-top: 30px;
}

.changes input[type="radio"] {
    left: -2px;
    margin-top: 0px;
}

@media only screen and (max-width: 600px) {
    .changes-title {
        grid-column: 2 / span 3;
    }
    .add-section-button {
        grid-column: 5 / span 6;
        margin-left: -5px;
    }
    .remove-section-button {
        grid-column: 13 / span 6;
        margin-left: -30px;
    }
    .col-1 {
        grid-column: 1;
        justify-self: end;
        margin-left: 30px;
    }
    .col-2 {
        grid-column: 2 / span 6;
        margin-left: -4px;
    }
    .col-3 {
        grid-column: 9 / span 7;
    }
    .col-4 {
        grid-column: 16;
        margin-left: -12px;
    }
    .col-5 {
        grid-column: 17;
    }
    .changes input[type="number"] {
        width: 100px;
    }
}

.detail {
    background-color: rgb(146, 216, 216);
    display: grid;
    grid-template-columns: repeat(42,1fr);
    grid-template-rows: 55px 10px 40px;
    grid-auto-rows: 40px;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10px;
}

.detail-col-1 {
    grid-column: 1 / span 2;
    justify-self: end;
    margin-right: 5px;
}

.detail-col-2 {
    grid-column: 3 / span 6;
}

.detail-col-3 {
    grid-column: 9 / span 6;
}

.detail-col-4 {
    grid-column: 15 / span 6;
}

.detail-col-2 input, .detail-col-3 input {
    width: 118px;
}

.detail-col-4 input {
    width: 125px;
}

.detail-col-2 h5, .detail-col-3 h5, .detail-col-4 h5 {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .detail {
        grid-template-columns: repeat(18,1fr);
    }
    .detail-title {
        grid-column: 2 / span 4;
        margin-left: 1px;
    }
    .detail > .add-section-button {
        grid-column: 6 / span 6;
        /* margin-left: -4px; */
    }
    .detail > .remove-section-button {
        grid-column: 12 / span 7;
        margin-left: -10px;
    }
    .detail-col-1 {
        grid-column: 1;
        margin-right: 0;
        margin-left: 30px;
    }
    .detail-col-2 {
        grid-column: 2 / span 5;
        margin-left: 1px;
    }
    .detail-col-3 {
        grid-column: 7 / span 5;
        margin-left: -8px;
    }
    .detail-col-4 {
        grid-column: 12 / span 7;
        margin-left: 6px;
    }
    .detail-col-2 input {
        width: 20vw;
    }
    .detail-col-4 input {
        width: 31vw;
    }
}

.submit {
    display: grid;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 237, 157);
}

.results-area {
    background-color: rgb(211, 253, 253);
    text-align: left;
}

.results-area h3 {
    margin-left: 90px;
}

.results-area p {
    margin: 10px 28px;
    text-align: left;
    white-space: pre-line;
}

.small-instruction {
    font-size: 9pt;
}

.cast-instruction>span {
    color: red;
}

table {
    border-collapse: collapse;
    display: inline-block;
    text-align: center;
    margin-left: 28px;
    padding-xbottom: 22.5px;
    /* min-width: 190px; */
}

td {
    min-width: 35px;
    height: 30px;
    border: 1px black solid;
    word-break: normal;
}

td:nth-child(4)  {
    padding-left: 10px;
    text-align: left;
}


@media only screen and (max-width: 600px) {
    .results-area {
        padding-bottom: 10px;
    }
    .results-area h3, .results-area p, .results-area table {
        margin-left: 30px;
    }
}